@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply font-saira;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }
}

@layer components {
  .sideBarItem {
    @apply border-b border-white p-2 font-bold flex justify-start items-center;
  }

  .labelInput {
    @apply block text-sidebarTop font-bold md:text-right mb-1 md:mb-0 pr-4;
  }

  .inputField {
    @apply bg-gray-100 appearance-none border-2 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-[#2B90D9];
  }

  .btnSave {
    @apply bg-emerald-500 text-white;
  }

  .inputForm {
    @apply mt-2 relative;
  }

  .iconForm {
    @apply absolute md:w-[30px] md:h-[30px];
  }

  .pageWithForm {
    @apply bg-table h-screen flex justify-center items-center overflow-auto;
  }

  .form {
    @apply bg-white md:w-7/12 rounded-xl h-auto flex flex-col p-4;
  }
  .iconFooter {
    @apply w-[25px] h-[25px] md:w-[40px] md:h-[40px];
  }
  .active {
    @apply text-sidebarTop;
  }

  .btnInModal {
    @apply flex items-center justify-end p-6 border-t border-solid border-[blueGray-200] rounded-b space-x-2;
  }
}
